<div class="row">
    <ul class="nav nav-pills nav-justified">
      <li><a data-toggle="pill" href="#following">Following</a></li>
      <li><a href="#/followers">Followers</a></li>
      <li><a href="#/recommended">Recommended</a></li>
    </ul>
  </div>
  
  <div class="row">
      <div class="col-lg-3">
        <img src="../img/circle1.jpg ">
      </div>
      <div class="col-lg-3">
        <img src="../img/circle2.jpg">
      </div>
      <div class="col-lg-3">
        <img src="../img/circle3.jpg">
      </div>
      <div class="col-lg-3">
        <img src="../img/circle4.jpg">
      </div>
      <div class="col-lg-3">
          <img src="../img/circle3.jpg ">
        </div>
        <div class="col-lg-3">
          <img src="../img/circle4.jpg">
        </div>
        <div class="col-lg-3">
          <img src="../img/circle1.jpg">
        </div>
        <div class="col-lg-3">
          <img src="../img/circle2.jpg">
        </div>
    </div>