
	
<div class="row">
	<ul class="nav nav-pills nav-justified">
		<li><a data-toggle="pill" href="#vacancies">Available Vacancies</a></li>
		<li><a href="#/messages">Messages</a></li>
		<li><a href="#/articles">Articles</a></li>
	</ul>
</div>

<div class="row">
		<div class="col-lg-3">
			<img src="../img/tmone.png ">
		</div>
		<div class="col-lg-3">
			<img src="../img/unifi.png">
		</div>
		<div class="col-lg-3">
			<img src="../img/itnt.png">
		</div>
		<div class="col-lg-3">
			<img src="../img/cf.png">
		</div>
	</div>